{% extends "layout.html" %}

{% block content %}
<h1>Task Manager</h1>

<form method="POST" action="/add">
  <input name="title" class="form-control" placeholder="New task">
  <button class="btn btn-primary mt-2">Add Task</button>
</form>

<hr>

<table class="table">

<tr>
<th>Task</th>
<th>Status</th>
<th>Actions</th>
</tr>

{% for task in tasks.items %}

<tr>
<td>{{ task.title }}</td>

<td>
{% if task.completed %}
✅ Done
{% else %}
❌ Pending
{% endif %}
</td>

<td>
<a class="btn btn-success btn-sm" href="/complete/{{ task.id }}">Complete</a>
<a class="btn btn-danger btn-sm" href="/delete/{{ task.id }}">Delete</a>
</td>

</tr>

{% endfor %}

</table>

<div class="mt-3">

{% if tasks.has_prev %}
<a href="/?page={{ tasks.prev_num }}&search={{search}}">Previous</a>
{% endif %}

Page {{ tasks.page }} of {{ tasks.pages }}

{% if tasks.has_next %}
<a href="/?page={{ tasks.next_num }}&search={{ search }}">Next</a>
{% endif %}

</div>

{% endblock %}